.Cell {
  height: 100px;
  width: 100px;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
  border-radius: 10px;
}

.Cell-lit {
  background-color: white;
  box-shadow: rgba(252, 255, 169, 0.795) 0px 0px 29px 0px;
}